@font-face{
    font-family: HankenGrotesk;
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/static/HankenGrotesk-Bold.ttf') format('ttf');
}

@font-face{
    font-family: HankenGrotesk;
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('ttf');
}
@font-face{
    font-family: HankenGrotesk;
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/static/HankenGrotesk-Medium.ttf') format('ttf');
}

@font-face{
    font-family: HankenGroteskVF;
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('ttf');
    font-weight: 100 1000;
    font-stretch: 75% 200%;
    font-variation-settings: 'wdth' 100, 'wght' 400;
}

body{
    font-family: HankenGrotesk, sans-serif;
}

@supports (font-variation-settings: normal){
    body{
         font-family: HankenGroteskVF, sans-serif;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* mobile first */
body{
    margin: 0;
}
.container{
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.results{
    text-align: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)) ;
    border-radius: 0px 0 30px 30px;
    padding: 20px;
    color: hsl(0, 0%, 100%);
    width: 100%;

}


.results p {
    color: hsl(241, 100%, 89%)   ;
    margin: 0;
}
.results-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsl(241, 81%, 54%));
    border-radius: 50%;
    margin: 10px auto;
}

.results-circle-score h1{
    font-size: 50px;
    margin: 0;
}
.results-overall{
    width: 280px;
    margin: 0 auto;
}
.Summary{
    width: 300px;
}
.summary-rect{
  position: relative;
  border-radius: 5px;
  max-width: 300px;
}
.summary-content-title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
}
.corner {
    position: absolute;
}


#reaction{
    background: hsla(0, 100%, 67%, 0.25);
}

#reaction .corner {
    background: none;
    height: 10px;
    width: 10px;
}

.summary-content {
    padding: 16px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

#top-left {
  top: 0;
  left: 0;
  border-radius: 5px 0 0 0;
  border-top: 2px solid #ff7777;
  border-left: 2px solid #ff7777;
}

#top-right {
  top: 0;
  right: 0;
  border-radius: 0 5px 0 0;
  border-top: 2px solid #ff7777;
  border-right: 2px solid #ff7777;
}

#bottom-right {
  bottom: 0;
  right: 0;
  border-radius: 0 0 5px 0;
  border-bottom: 2px solid #ff7777;
  border-right: 2px solid #ff7777;
}

#bottom-left {
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 5px;
  border-bottom: 2px solid #ff7777;
  border-left: 2px solid #ff7777;
}

.summary-icon {
  height: 24;
  width: 24;
}

.title {
    font-size: 16px;
    font-weight: bold;
}
#reaction .title {
    color: #ff7777;
}

.score {
    color: #444444;
}

#memory{
    background: hsla(39, 100%, 56%, 0.25);
}
.memborder{
  position: absolute; 
  width: 300px;
  height: 52px;
  background:
    linear-gradient(to right, hsl(39, 100%, 56%) 2px, transparent 2px) 0 0,
    linear-gradient(to right, hsl(39, 100%, 56%) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, hsl(39, 100%, 56%) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, hsl(39, 100%, 56%) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, hsl(39, 100%, 56%) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, hsl(39, 100%, 56%) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, hsl(39, 100%, 56%) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, hsl(39, 100%, 56%) 2px, transparent 2px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}
/*https://stackoverflow.com/questions/75607228/how-can-you-apply-a-border-to-only-corners-of-a-container-in-css*/
/*https://stackoverflow.com/questions/14387690/how-can-i-show-only-corner-borders*/